body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 45px;
    color: #00796B;
    font-variant: small-caps;
  }
  textarea {
    width: 400px;
    height: 60px;
    font-size: 16px;
    padding: 8px;
  }
  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #00796B;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
  }
  button:hover {
    background: #06cead;
  }
  #output {
    margin-top: 15px;
    font-weight: bold;
  }
  #derivations {
    margin-top: 15px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap;
  }
  #graph {
    margin-top: 20px;
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
  }