<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CFG Syntax Analyzer</title>
  <!-- Viz.js v2 from UNPKG -->
  <script src="https://unpkg.com/viz.js@2.1.2/viz.js"></script>
  <script src="https://unpkg.com/viz.js@2.1.2/full.render.js"></script>
  <link rel="stylesheet" href="static\style.css">
</head>
<body>
  <h1>CFG Syntax Analyzer</h1>
  <textarea id="inputStr" placeholder="Enter string (e.g. aabcc)"></textarea><br>
  <button onclick="runParse()">Parse</button>

  <div id="output"></div>
  <div id="derivations"></div>
  <div id="graph"></div>

  <script src="static\script.js"></script>
</body>
</html>
